---
layout: default
---

<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12">
          <h1 class="ae-1 page-heading">Posts</h1>
          <div class="ae-2">
            {{ content }}
            <ul class="post-list">
              {% for post in site.posts %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                  </h2>
                </li>
              {% endfor %}
            </ul>
            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/img-3.jpg)"></div>
</section>

<div class="home">






</div>
